.dialog-content-wrapper {
    .mat-mdc-dialog-content {
      max-height: 100vh;
      height: calc(100vh - 145px);
    }
  }
  .hidden {
    display: none; /* Ẩn hoàn toàn phần tử */
  }
  .custom-snackbar {
    margin-top: 70px !important; /* 👈 đẩy xuống 70px */
    z-index: 9999 !important; /* đảm bảo nó nổi lên trên */
  }
  