<h2>Đổi mật khẩu</h2>
<form [formGroup]="changePassForm">
  <!-- <div *ngIf="changePassForm.invalid && changePassForm.touched" class="text-danger">
    Vui lòng điền đầy đủ và hợp lệ các trường.
  </div> -->

  <div class="form-group">
    <label for="oldPassword">Mật khẩu cũ</label>
    <input
      type="password"
      formControlName="oldPassword"
      class="form-control"
      [type]="showOldPassword ? 'text' : 'password'"
    />
    <i
      class="fa"
      [ngClass]="showOldPassword ? 'fa-eye-slash' : 'fa-eye'"
      (click)="showOldPassword = !showOldPassword"
      style="position: absolute; top: 38px; right: 15px; cursor: pointer"
    ></i>
    <div
      class="text-danger"
      *ngIf="
        changePassForm.get('oldPassword')?.touched && changePassForm.get('oldPassword')?.invalid
      "
    >
      Mật khẩu cũ không được để trống
    </div>
  </div>

  <div class="form-group">
    <label for="newPassword">Mật khẩu mới</label>
    <input
      type="password"
      formControlName="newPassword"
      class="form-control"
      [type]="showNewPassword ? 'text' : 'password'"
    />
    <i
      class="fa"
      [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"
      (click)="showNewPassword = !showNewPassword"
      style="position: absolute; top: 38px; right: 15px; cursor: pointer"
    ></i>
    <div
      class="text-danger"
      *ngIf="
        changePassForm.get('newPassword')?.touched && changePassForm.get('newPassword')?.invalid
      "
    >
      Mật khẩu mới phải ít nhất 6 ký tự
    </div>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Xác nhận mật khẩu</label>
    <input
      type="password"
      id="confirmPassword"
      formControlName="confirmPassword"
      class="form-control"
      [type]="showConfirmPassword ? 'text' : 'password'"
    />
    <i
      class="fa"
      [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
      (click)="showConfirmPassword = !showConfirmPassword"
      style="position: absolute; top: 38px; right: 15px; cursor: pointer"
    ></i>
    <div class="text-danger" *ngIf="confirmPassword.errors?.['mismatch']">Mật khẩu không khớp.</div>
  </div>

  <div class="form-group mt-3">
    <button
      type="submit"
      class="btn btn-outline-success"
      [disabled]="changePassForm.invalid"
      id="btnSubmit"
      (click)="save()"
    >
      Đổi mật khẩu
    </button>
  </div>
</form>
