<h2>Đổi mật khẩu</h2>
<form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
  <div *ngIf="changePassForm.invalid && changePassForm.touched" class="text-danger">
    Vui lòng điền đầy đủ và hợp lệ các trường.
  </div>

  <div class="form-group">
    <label for="oldPassword">Mật khẩu cũ</label>
    <input type="password" id="oldPassword" formControlName="oldPassword" class="form-control" />
    <div
      class="text-danger"
      *ngIf="
        changePassForm.get('oldPassword')?.touched && changePassForm.get('oldPassword')?.invalid
      "
    >
      Mật khẩu cũ không được để trống
    </div>
  </div>

  <div class="form-group">
    <label for="newPassword">Mật khẩu mới</label>
    <input type="password" id="newPassword" formControlName="newPassword" class="form-control" />
    <div
      class="text-danger"
      *ngIf="
        changePassForm.get('newPassword')?.touched && changePassForm.get('newPassword')?.invalid
      "
    >
      Mật khẩu mới phải ít nhất 6 ký tự
    </div>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Xác nhận mật khẩu</label>
    <input
      type="password"
      id="confirmPassword"
      formControlName="confirmPassword"
      class="form-control"
    />
    <div
      class="text-danger"
      *ngIf="
        changePassForm.get('confirmPassword')?.touched &&
        changePassForm.get('confirmPassword')?.invalid
      "
    >
      Vui lòng xác nhận mật khẩu
    </div>
  </div>

  <div class="form-group mt-3">
    <button
      type="submit"
      class="btn btn-outline-success"
      [disabled]="changePassForm.invalid"
      id="btnSubmit"
    >
      Đổi mật khẩu
    </button>
  </div>
</form>
