<div class="row">
  <div class="col text-center">
    <div class="section_title new_arrivals_title">
      <h2>New Arrivals</h2>
    </div>
  </div>
</div>
<div class="row align-items-center">
  <div class="col text-center">
    <div class="new_arrivals_sorting">
      <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
        <li
          class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked"
          data-filter="*"
        >
          All
        </li>

        <li
          class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
          *ngFor="let item of lstCategory1"
          [attr.data-filter]="'.' + item.alias"
        >
          {{ item.title }}
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col" id="ProductHome">
    <div
      class="product-grid"
      data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'
    >
      <div class="product-grid d-flex flex-wrap">
        <div *ngFor="let item of lstProduct" class="product-item">
          <div class="product discount product_filter custom-sale-percent">
            <div class="product_image">
              <img [src]="item.imageDefault" height="200" [alt]="item.title" />
            </div>

            <div
              *ngIf="item.salePercent > 0"
              class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"
            >
              <span>-{{ item.salePercent }}%</span>
            </div>

            <div class="product_info">
              <h6 class="product_name short-line" [routerLink]="['/product', item.id]">
                <a>{{ item.title }}</a>
              </h6>

              <ng-container *ngIf="item.salePercent > 0; else noSale">
                <div class="product_price">
                  {{ item.priceSale | number: '1.0-0' }} VND
                  <span>{{ item.price | number: '1.0-0' }} VND</span>
                </div>
                <div style="display: none" class="in_product_price">
                  {{ item.priceSale | number: '1.0-0' }} VND
                </div>
              </ng-container>
              <ng-template #noSale>
                <div class="product_price">{{ item.price | number: '1.0-0' }} VND</div>
                <div style="display: none" class="in_product_price">
                  {{ item.price | number: '1.0-0' }} VND
                </div>
              </ng-template>
            </div>
          </div>
          <div class="product-meta">
            <span class="sold">Đã bán {{ item.totalSold }}</span>
            <span class="stars">
              <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                <i
                  class="fa"
                  [ngClass]="{
                    'fa-star text-warning': star <= item.avgRate,
                    'fa-star-o text-muted': star > item.avgRate
                  }"
                  aria-hidden="true"
                >
                </i>
              </ng-container>
              ({{ item.totalRate }})
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
