<div class="dialog-content-wrapper mt-[50px]">
  <!-- Header -->
  <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
    <mat-icon class="icon-size-7 text-current" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
    <div class="ml-3 text-2xl font-semibold tracking-tight">
      {{ data.title | translate }}
    </div>
    <button class="ml-auto" mat-icon-button (click)="dialogRef.close()">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>
  <div class="wrap-body ml-4 mr-4">
    <div class="pt-4 grid w-full">
      <form [formGroup]="form">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Nhập email" />
          <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            Email không hợp lệ
          </mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Mật khẩu</mat-label>
          <input
            matInput
            type="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            placeholder="Nhập mật khẩu"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility('password')"
            type="button"
          >
            <mat-icon
              [svgIcon]="showPassword ? 'heroicons_outline:eye-off' : 'heroicons_outline:eye'"
            ></mat-icon>
          </button>
          <mat-error
            *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched"
          >
            Mật khẩu là bắt buộc
          </mat-error>
          <mat-error
            *ngIf="form.get('password')?.hasError('minlength') && form.get('password')?.touched"
          >
            Mật khẩu phải có ít nhất 6 ký tự
          </mat-error>
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Nhập lại mật khẩu</mat-label>
          <input
            matInput
            type="password"
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirmPassword"
            placeholder="Nhập lại mật khẩu"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePasswordVisibility('confirmPassword')"
            type="button"
          >
            <mat-icon
              [svgIcon]="
                showConfirmPassword ? 'heroicons_outline:eye-off' : 'heroicons_outline:eye'
              "
            ></mat-icon>
          </button>
          <mat-error
            *ngIf="form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched"
          >
            Mật khẩu không khớp
          </mat-error>
        </mat-form-field>

        <!-- Roles -->
        <label class="font-medium mb-2">Phân quyền</label>
        <div class="flex flex-col gap-2 mb-4">
          <mat-checkbox
            *ngFor="let role of lstRole"
            [checked]="form.value.roles.includes(role)"
            (change)="onRoleChange($event, role)"
          >
            {{ role }}
          </mat-checkbox>
        </div>
      </form>
    </div>
  </div>

  <div class="border-t"></div>
  <!-- Actions -->
  <div mat-dialog-actions class="pl-5 pr-5 flex items-center justify-center">
    <button mat-dialog-close mat-stroked-button type="button">
      {{ 'Common.Cancel' | translate }}
    </button>
    <button (click)="save()" class="ml-4" mat-flat-button type="button" [color]="'primary'">
      {{ 'Common.Save' | translate }}
    </button>
  </div>
</div>
