.glImage {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.glImage li {
  margin-left: 10px;
}

.box-btn {
  margin-top: 10px;
  text-align: center;
}

.card-body img {
  width: 200px;
  height: 200px;
  margin: 20px;
}
