<section class="content mt-[50px]">
  <div class="card">
    <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
      <mat-icon
        class="icon-size-7 text-current"
        [svgIcon]="'heroicons_solid:plus-circle'"
      ></mat-icon>
      <div class="ml-3 text-2xl font-semibold tracking-tight">
        {{ data.title | translate }}
      </div>
      <button class="ml-auto" mat-icon-button (click)="dialogRef.close('close')">
        <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
      </button>
    </div>
    <div class="card-header">
      <h3 class="card-title">Ảnh sản phẩm</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-danger" (click)="deleteAllImages()">Xóa hết</button>
        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" />
        <input type="button" class="btn btn-primary" value="Tải Ảnh" (click)="fileInput.click()" />
      </div>
    </div>

    <div class="card-body body-image">
      <ul class="glImage">
        <li *ngFor="let item of images">
          <img [src]="item.image" style="cursor: pointer" />
          <div class="box-btn">
            <button class="btn btn-sm btn-danger" (click)="deleteImage(item.id)">
              <i class="fa fa-trash"></i>
            </button>
            <button
              *ngIf="item.isDefault"
              type="button"
              class="btn btn-sm btn-success btnNoDefault"
              [attr.data-id]="item.id"
              id="Default"
              (click)="changeDefault(item.id)"
            >
              <i class="fa fa-check"></i>
            </button>

            <button
              *ngIf="!item.isDefault"
              type="button"
              class="btn btn-sm btn-warning btnDefault"
              [attr.data-id]="item.id"
              (click)="changeDefault(item.id)"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
        </li>
      </ul>
    </div>

    <div class="card-footer"></div>
  </div>
</section>
