<section class="table-container-result">
  <as-split
    direction="horizontal"
    gutterSize="10"
    [useTransition]="true"
    class="bg-white rounded-lg h-full"
  >
    <as-split-area [size]="20">
      <app-productcategory-lv1
        (onSelectedLv1)="handleSelectedLv1($event)"
      ></app-productcategory-lv1>
    </as-split-area>

    <as-split-area [size]="30">
      <app-productcategory-lv2
        (onSelectedLv2)="handleSelectedLv2($event)"
        [itemSelected]="itemSelectedLv1"
      ></app-productcategory-lv2>
    </as-split-area>

    <as-split-area [size]="40">
      <app-productcategory-lv3
        [itemSelected]="itemSelectedLv2"
        [notice]="notice"
      ></app-productcategory-lv3>
    </as-split-area>
  </as-split>
</section>
