<div class="best_sellers">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="section_title new_arrivals_title">
          <h2>GỢI Ý SẢN PHẨM</h2>
        </div>
      </div>
    </div>
    <div class="slider-container">
      <button class="arrow left-arrow" (click)="slideLeft()">&#10094;</button>
      <div class="slider-content" #sliderContent>
        <div class="owl-item product_slider_item" *ngFor="let item of lstProduct">
          <div class="product-item-custom">
            <div class="product discount custom-sale-percent">
              <div class="product_image">
                <img [src]="item.imageDefault" alt="item.title" />
              </div>
              <div
                *ngIf="item.salePercent > 0"
                class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"
              >
                <span>-{{ item.salePercent }}%</span>
              </div>

              <div class="product_info">
                <h6 class="product_name short-line cursor-pointer" (click)="goToProduct(item.id)">
                  <a>{{ item.title }}</a>
                </h6>

                <ng-container *ngIf="item.salePercent > 0; else noSale">
                  <div class="product_price">
                    {{ item.priceSale | number: '1.0-0' }} VND
                    <span>{{ item.price | number: '1.0-0' }} VND</span>
                  </div>
                  <div style="display: none" class="in_product_price">
                    {{ item.priceSale | number: '1.0-0' }} VND
                  </div>
                </ng-container>
                <ng-template #noSale>
                  <div class="product_price">{{ item.price | number: '1.0-0' }} VND</div>
                  <div style="display: none" class="in_product_price">
                    {{ item.price | number: '1.0-0' }} VND
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="arrow right-arrow" (click)="slideRight()">&#10095;</button>
    </div>
  </div>
</div>
