<div class="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let item of lstCategory1; let i = index">
        <div
          class="banner_item align-items-center"
          [ngStyle]="{
            'background-image': 'url(assets/Content/assets/images/banner_' + (i + 1) + '.jpg)'
          }"
        >
          <div class="banner_category cursor-pointer">
            <a (click)="onCategoryClick(item.id)">{{ item.title }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
