mat-form-field {
  width: 100%;
  
  // Đảm bảo input không bị co khi suffix xuất hiện
  .mat-form-field-infix {
    display: flex;
    align-items: center;
  }

  input.mat-input-element {
    flex: 1;
    min-width: 0;
  }

  button.mat-icon-button {
    // Đặt kích thước cố định
    width: 40px;
    height: 40px;
  }
}
