<div class="pagination-wrapper">
  <ul class="pagination-list">
    <li
      class="pagination-item"
      [class.disabled]="currentPage === 1"
      (click)="goToPage(currentPage - 1)"
    >
      <span>&lt;</span>
    </li>

    <li
      *ngFor="let page of pages"
      class="pagination-item"
      [class.active]="page === currentPage"
      (click)="goToPage(page)"
    >
      <span>{{ page }}</span>
    </li>

    <li
      class="pagination-item"
      [class.disabled]="currentPage === totalPages"
      (click)="goToPage(currentPage + 1)"
    >
      <span>&gt;</span>
    </li>
  </ul>
</div>
