<form [formGroup]="form">
  <div class="overlay">
    <div class="dialog">
      <h2 class="title">{{ data.title | translate }}</h2>

      <div class="row">
        <div class="col">
          <input
            type="text"
            placeholder="Họ và tên"
            class="input-field w-100"
            formControlName="recipientName"
          />
          <div
            *ngIf="form.get('recipientName')?.invalid && form.get('recipientName')?.touched"
            class="text-danger"
          >
            <div *ngIf="form.get('recipientName')?.errors?.['required']">
              Vui lòng đầy đủ thông tin
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input
            type="text"
            placeholder="Số điện thoại"
            class="input-field w-100"
            formControlName="phoneNumber"
            maxlength="10"
            (keypress)="allowOnlyNumbers($event)"
          />
          <div
            *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched"
            class="text-danger"
          >
            <div *ngIf="form.get('phoneNumber')?.errors?.['required']">
              Vui lòng nhập số điện thoại
            </div>
            <div *ngIf="form.get('phoneNumber')?.errors?.['pattern']">
              Số điện thoại không hợp lệ (chỉ 10 số)
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <select
            id="province"
            formControlName="province"
            (change)="onProvinceChange()"
            class="form-control"
          >
            <option value="">--Province--</option>
            <option *ngFor="let province of provinces" [value]="province.code">
              {{ province.name }}
            </option>
          </select>
        </div>
        <div class="col">
          <select
            id="district"
            formControlName="district"
            (change)="onDistrictChange()"
            [disabled]="!districts.length"
            class="form-control"
          >
            <option value="">--District--</option>
            <option *ngFor="let district of districts" [value]="district.code">
              {{ district.name }}
            </option>
          </select>
        </div>
        <div class="col">
          <select id="ward" formControlName="ward" [disabled]="!wards.length" class="form-control">
            <option value="">--Ward--</option>
            <option *ngFor="let ward of wards" [value]="ward.code">{{ ward.name }}</option>
          </select>
        </div>
      </div>

      <input
        type="text"
        placeholder="Địa chỉ cụ thể"
        formControlName="addressLine"
        class="input-field mt-2 w-100"
      />

      <div class="default-address mt-2">
        <input type="checkbox" id="default" formControlName="isDefault" />
        <label for="default" class="mt-2">Đặt làm địa chỉ mặc định</label>
      </div>

      <div class="border-t mt-3"></div>

      <div class="dialog-actions mt-3">
        <button (click)="dialogRef.close()" class="cancel-btn">Trở lại</button>
        <button class="confirm-btn" (click)="save()">Hoàn thành</button>
      </div>
    </div>
  </div>
</form>
