<div class="dialog-content-wrapper mt-[50px]">
  <!-- Header -->
  <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
    <mat-icon class="icon-size-7 text-current" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
    <div class="ml-3 text-2xl font-semibold tracking-tight">
      {{ data.title | translate }}
    </div>
    <button class="ml-auto" mat-icon-button (click)="dialogRef.close()">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>
  <div class="wrap-body ml-4 mr-4">
    <div class="pt-4 grid w-full">
      <form [formGroup]="form">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label> {{ 'User.Edit.UserName' | translate }}</mat-label>
          <input matInput formControlName="userName" placeholder="{{ 'User.Edit.UserName' | translate }}" />
          <mat-error *ngIf="form.get('userName')?.invalid && form.get('userName')?.touched">
            {{ 'User.Edit.UserNameError' | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>{{ 'User.Edit.PhoneNumber' | translate }}</mat-label>
          <input matInput formControlName="phoneNumber" placeholder="{{ 'User.Edit.PhoneNumber' | translate }}" />
          <mat-error *ngIf="form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched">
            {{ 'User.Edit.PhoneNumberError' | translate }}
          </mat-error>
        </mat-form-field>

        <div class="w-100 flex flex-col">
          <mat-label>{{ 'User.Edit.Status' | translate }}</mat-label>
          <select matNativeControl formControlName="status">
            <option *ngFor="let status of lstStatus" [value]="status.code">
              {{ status.display }}
            </option>
          </select>
        </div>

        <div class="row mt-3">
          <div class="col-md-12 text-left">
            <input type="file" (change)="onFileSelected($event)" multiple hidden #fileInput />
            <button class="btn btn-primary" (click)="fileInput.click()">{{ 'User.Edit.UploadImage' | translate }}</button>
          </div>
          <div *ngIf="imagePreview" class="mt-4">
            <img [src]="imagePreview" class="w-[100px] h-[100px] object-cover mb-2" />
          </div>
        </div>

        <!-- Roles -->
        <label class="font-medium mb-2">{{ 'User.Edit.Role' | translate }}</label>
        <div class="flex flex-col gap-2 mb-4">
          <mat-checkbox
            *ngFor="let role of lstRole"
            [checked]="form.value.roles.includes(role)"
            (change)="onRoleChange($event, role)"
          >
            {{ role }}
          </mat-checkbox>
        </div>
      </form>
    </div>
  </div>

  <div class="border-t"></div>
  <!-- Actions -->
  <div mat-dialog-actions class="pl-5 pr-5 flex items-center justify-center">
    <button mat-dialog-close mat-stroked-button type="button">
      {{ 'Common.Cancel' | translate }}
    </button>
    <button (click)="save()" class="ml-4" mat-flat-button type="button" [color]="'primary'">
      {{ 'Common.Save' | translate }}
    </button>
  </div>
</div>
