<ngx-spinner  type="ball-clip-rotate-pulse">
    <h3>Loading...</h3>
</ngx-spinner>
<!-- <div class="flex justify-end p-2 space-x-2">
    <button
      class="px-3 py-1 rounded border border-gray-300 hover:bg-gray-100"
      (click)="switchLang('vi')"
      [class.bg-blue-500]="currentLang === 'vi'"
      [class.text-white]="currentLang === 'vi'"
    >
      🇻🇳 Tiếng Việt
    </button>
  
    <button
      class="px-3 py-1 rounded border border-gray-300 hover:bg-gray-100"
      (click)="switchLang('en')"
      [class.bg-blue-500]="currentLang === 'en'"
      [class.text-white]="currentLang === 'en'"
    >
      🇬🇧 English
    </button>
  </div> -->
  
<router-outlet></router-outlet>


