<link
  rel="stylesheet"
  type="text/css"
  href="/assets/Content/assets/styles/main_styles.css"
/>
<!-- Slider -->
<div class="main_slider" style="background-image: url(/assets/Content/assets/images/slider_1.jpg)">
  <div class="container fill_height">
    <div class="row align-items-center fill_height">
      <div class="col">
        <div class="main_slider_content">
          <h6>Spring / Summer Collection 2017</h6>
          <h1>Get up to 30% Off New Arrivals</h1>
          <div class="red_button shop_now_button"><a href="/san-pham">shop now</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner -->
<app-menuproductcategory></app-menuproductcategory>

<!-- New Arrivals -->


<div class="new_arrivals">
  <div class="container">
    <app-menuarraival></app-menuarraival>
  </div>
</div>

<!-- Deal of the week -->
<app-dealoftheweek></app-dealoftheweek>

<!-- Best Sellers -->
<app-productsales></app-productsales>

<!-- Benefit -->
<app-benefit></app-benefit>

<!-- Blogs -->
<app-partialnews></app-partialnews>