::ng-deep .custom-dialog-right .mat-mdc-dialog-surface {
  margin: 0;
  height: 100%;
  border-radius: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.wrap-body {
  max-height: 100vh;
  height: calc(100vh - 205px);
}
.table-container-result {
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 160px);
}
// ::ng-deep .custom-search-field {
//   background-color: #fbeaec; /* màu nền */
//   border-radius: 8px;
//   padding: 8px;
// }

// ::ng-deep .custom-search-field .mat-form-field-wrapper {
//   padding-bottom: 0 !important; /* bỏ khoảng trắng dư bên dưới */
// }

// ::ng-deep .custom-search-field .mat-form-field-flex {
//   background-color: transparent; /* tránh đè màu */
// }

// ::ng-deep .custom-search-field .mat-form-field-infix {
//   border-bottom: none !important; /* bỏ gạch chân nếu cần */
// }

// ::ng-deep .custom-search-field input {
//   font-size: 14px;
//   padding: 6px 8px;
// }
// ::ng-deep mat-form-field.search-input {
//   background: #f9fafb;
//   border-radius: 10px;
//   transition: all 0.3s ease;
// }

::ng-deep mat-form-field.search-input .mat-form-field-flex {
  padding: 0 12px;
  background-color: white !important;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  transition: all 0.3s ease;
}

::ng-deep mat-form-field.search-input.mat-focused .mat-form-field-flex {
  background-color: #fff;
  border-color: #3f51b5;
  box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2);
}

::ng-deep mat-form-field.search-input .mat-input-element {
  padding: 12px 0;
  font-size: 14px;
  color: #333;
}
