<!-- Main content -->
<section class="content mt-3">
  <!-- Default box -->
  <div class="card">
    <div class="flex justify-between">
      <div class="flex justify-start items-center"></div>
      <div class="relative hedear flex flex-col sm:flex-row flex-0 sm:items-center sm:px-6 xs:py-4">
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
          <app-AraAutocomplete
            [placeholder]="'User.TypeSearchRole' | translate"
            [displayField]="['display']"
            [items]="lstRole"
            [valueField]="'value'"
            [isUseForm]="false"
            [isFirstLoad]="false"
            (onChange)="handleChangeRole($event)"
          >
          </app-AraAutocomplete>

          <div class="search-container ml-3">
            <input
              type="text"
              class="search-input"
              placeholder="{{ 'User.SearchTitle' | translate }}"
              [(ngModel)]="searchString"
              (keydown.enter)="handleChangeSearchInput($event)"
            />
            <div class="search-actions">
              <button
                class="search-button"
                (click)="handleChangeSearchInput($event)"
                aria-label="Search"
              >
                🔍
              </button>
              <button
                class="clear-button"
                *ngIf="searchString"
                (click)="handleClearSearchInput()"
                aria-label="Clear search"
              >
                ✖
              </button>
            </div>
          </div>

          <button
            mat-flat-button
            [color]="'primary'"
            class="add-product-button mat-white-bg md:text-base sm:text-base xs:text-xs ml-2"
            (click)="add()"
          >
            <mat-icon class="md:text-base sm:text-base xs:text-xs">add</mat-icon>
            <span>{{ 'Common.Add' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ 'Common.No' | translate }}</th>
            <th>{{ 'User.Name' | translate }}</th>
            <th>{{ 'User.Email' | translate }}</th>
            <th>{{ 'User.PhoneNumber' | translate }}</th>
            <th>{{ 'User.Image' | translate }}</th>
            <th>{{ 'User.Status' | translate }}</th>
            <th style="width: 200px">{{ 'Common.Action' | translate }}</th>
          </tr>
        </thead>
        <tbody *ngIf="lstUser.length > 0; else noData">
          <tr *ngFor="let item of lstUser; let i = index">
            <td>{{ item.position }}</td>
            <td>
              <span matTooltip="{{ item.userName }}">{{ item.userName }}</span>
            </td>
            <td>
              <span matTooltip="{{ item.email }}">{{ item.email }}</span>
            </td>
            <td>
              <span matTooltip="{{ item.phoneNumber }}">{{ item.phoneNumber }}</span>
            </td>
            <td>
              <span *ngIf="item.profilePictureName">
                <img
                  [src]="item.profilePictureName"
                  class="w-[100px] h-[100px] object-cover mb-2"
                />
              </span>
            </td>
            <td>
              <!-- <span matTooltip="{{ item.displayStatus }}">{{ item.displayStatus }}</span> -->
              <div class="flex items-center justify-center" matTooltip="{{ item.displayStatus }}">
                <span
                  *ngIf="item.status === 0"
                  class="rounded-full px-3 py-0.5 text-sm font-semibold bg-yellow-100 text-yellow-600 ng-star-inserted"
                  >{{ item.displayStatus }}</span
                >
                <span
                  *ngIf="item.status === 1"
                  class="rounded-full px-3 py-0.5 text-sm font-semibold bg-green-100 text-green-600 ng-star-inserted"
                  >{{ item.displayStatus }}</span
                >
                <span
                  *ngIf="item.status === 2"
                  class="rounded-full px-3 py-0.5 text-sm font-semibold bg-red-100 text-red-600 ng-star-inserted"
                  >{{ item.displayStatus }}</span
                >
         
              </div>
            </td>
            <td>
              <button
                mat-icon-button
                (click)="edit(item)"
                matTooltip="{{ 'Common.Edit' | translate }}"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                *ngIf="this.currentUserId !== item.id"
                (click)="delete(item.id)"
                matTooltip="{{ 'Common.Delete' | translate }}"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
        <!-- Hiển thị khi không có dữ liệu -->
        <ng-template #noData>
          <tr>
            <td colspan="5" class="text-center">{{ 'Common.NoData' | translate }}</td>
          </tr>
        </ng-template>
      </table>
    </div>
  </div>
</section>
<!-- /.content -->
<mat-paginator
  class="absolute inset-x-0 bottom-0 border-b border-t z-10 bg-gray-50 dark:bg-transparent md:text-base sm:text-base xs:text-xs"
  [pageSizeOptions]="pageSizeOptions"
  [length]="totalCount"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  (page)="onChangePage($event)"
  showFirstLastButtons
>
</mat-paginator>
