::ng-deep .custom-dialog-right .mat-mdc-dialog-surface {
  margin: 0;
  height: 100%;
  border-radius: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.wrap-body {
  max-height: 100vh;
  height: calc(100vh - 205px);
}
.table-container-result {
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 160px);
}
