<div class="dialog-content-wrapper mt-[50px]">
  <!-- Header -->
  <div class="p-4 flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
    <mat-icon class="icon-size-7 text-current" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
    <div class="ml-3 text-2xl font-semibold tracking-tight">
      {{ data.title | translate }}
    </div>
    <button class="ml-auto" mat-icon-button (click)="dialogRef.close()">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>
  <!-- Default box -->
  <div class="card wrap-body">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Mã đơn hàng</label>
            <p class="form-control">{{ order.orderCode }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Họ tên khách hàng</label>
            <p class="form-control">{{ order.address.recipientName }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Tổng tiền</label>
            <p class="form-control">{{ order.totalAmount }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Số điện thoại</label>
            <p class="form-control">{{ order.address.phoneNumber }}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Ngày tạo</label>
            <p class="form-control">{{ order.createdAt | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Trạng thái</label>
            <!-- <p class="form-control">{{ order.typePayment === 1 ? 'Chưa thanh toán' : 'Đã thanh toán' }}</p> -->
            <p class="form-control">Chưa thanh toán</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Địa chỉ giao hàng</label>
            <p class="form-control">
              {{ addressOrder.addressLine }}, {{ addressOrder.ward }}, {{ addressOrder.district }},
              {{ addressOrder.province }}
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Giảm giá</label>
            <p class="form-control">
              {{ order.totalDiscount | number: '1.0-0' }}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <h2>Danh sách sản phẩm</h2>
        </div>
        <div class="col-12">
          <app-orderitems [productItems]="lstItem"></app-orderitems>
        </div>
      </div>
    </div>
    <div class="border-t"></div>
    <!-- Actions -->
    <!-- <div mat-dialog-actions class="pl-5 pr-5 flex flex-start items-center justify-center">
      <button mat-dialog-close mat-stroked-button type="button">
        {{ 'Common.Exit' | translate }}
      </button>
    </div> -->
  </div>
</div>
