.wrap-body {
  max-height: 100vh;

  flex: 1 1 auto;
  overflow-y: auto;
}

.hidden {
  display: none; /* Ẩn hoàn toàn phần tử */
}
.custom-snackbar {
  margin-top: 70px !important;
  z-index: 9999 !important;
}
.dialog-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-form-field {
  width: 100%;
}

mat-dialog-actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
