<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title-news">Danh sách đơn hàng</h2>
    </div>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>{{ 'Common.No' | translate }}</th>
        <th>{{ 'Order.Code' | translate }}</th>
        <th>{{ 'Order.CreatedDate' | translate }}</th>
        <th>{{ 'Order.Quantity' | translate }}</th>
        <th>{{ 'Order.TotalAmount' | translate }}</th>
        <th>{{ 'Order.Status' | translate }}</th>
        <th style="width: 150px">{{ 'Common.Action' | translate }}</th>
      </tr>
    </thead>
    <tbody *ngIf="lstOrder.length > 0; else noData">
      <tr *ngFor="let item of lstOrder; let i = index">
        <td>{{ item.position }}</td>
        <td>
          <span matTooltip="{{ item.orderCode }}">{{ item.orderCode }}</span>
        </td>
        <td>
          <span matTooltip="{{ item.createdDate }}">{{ item.createdDate }}</span>
        </td>
        <td>
          <span matTooltip="{{ item.totalQuantity }}">{{ item.totalQuantity }}</span>
        </td>
        <td>
          <span matTooltip="{{ item.totalAmount | number: '1.0-0' }}"
            >{{ item.totalAmount | number: '1.0-0' }} VND</span
          >
        </td>
        <td>
          <span matTooltip="{{ item.displayStatus }}">{{ item.displayStatus }}</span>
        </td>
        <td>
          <button
            mat-icon-button
            (click)="detail(item.orderId)"
            matTooltip="{{ 'Common.Read' | translate }}"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="delete(item.orderId)"
            matTooltip="{{ 'Order.EditStatus' | translate }}"
            *ngIf="item.status === 1"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
    <!-- Hiển thị khi không có dữ liệu -->
    <ng-template #noData>
      <tr>
        <td colspan="5" class="text-center">{{ 'Common.NoData' | translate }}</td>
      </tr>
    </ng-template>
  </table>
</div>
