<!-- Main content -->
<section class="content mt-3">
  <!-- Default box -->
  <div class="card">
    <div class="flex justify-between">
      <div class="flex justify-start items-center"></div>
      <div class="relative hedear flex flex-col sm:flex-row flex-0 sm:items-center sm:px-6 xs:py-4">
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
          <mat-form-field
            class="fuse-mat-dense fuse-mat-rounded w-[500px] pr-2 md:min-w-64 xs:min-w-50 md:mr-[10px] sm:mr-[10px] xs:mr-[5px] md:text-base sm:text-base xs:text-xs"
            [subscriptSizing]="'dynamic'"
          >
            <input
              matInput
              #inputSearch
              [value]="searchString"
              placeholder="{{ 'Color.SearchTitle' | translate }}"
              (keyup)="handleChangeSearchInput($event)"
              trim
            />
            <button
              class="btn-close !w-6 !h-6 min-w-0 p-0 mr-3"
              *ngIf="inputSearch.value !== ''"
              matSuffix
              mat-icon-button
              type="button"
              (click)="handleClearSearchInput()"
            >
              <mat-icon class="w-4 h-4 text-gray-500" [svgIcon]="'heroicons_solid:x'"> </mat-icon>
            </button>
          </mat-form-field>
          <button
            mat-flat-button
            [color]="'primary'"
            class="add-product-button mat-white-bg md:text-base sm:text-base xs:text-xs ml-2"
            (click)="add()"
          >
            <mat-icon class="md:text-base sm:text-base xs:text-xs">add</mat-icon>
            <span>{{ 'Common.Add' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ 'Common.No' | translate }}</th>
            <th>{{ 'Color.Name' | translate }}</th>
            <th>{{ 'Color.Code' | translate }}</th>
            <th style="width: 200px">{{ 'Common.Action' | translate }}</th>
          </tr>
        </thead>
        <tbody *ngIf="lstColor.length > 0; else noData">
          <tr *ngFor="let item of lstColor; let i = index">
            <td>{{ item.position }}</td>
            <td>
              <span matTooltip="{{ item.name }}">{{ item.name }}</span>
            </td>
            <td>
              <div
                matTooltip="{{ item.HexCode }}"
                [ngStyle]="{ 'background-color': item.HexCode }"
                style="width: 30px; height: 30px; border: 1px solid #ccc"
                class="rounded-full ml-3"
              ></div>
            </td>
            <td>
              <button
                mat-icon-button
                color="primary"
                (click)="edit(item)"
                matTooltip="{{ 'Common.Edit' | translate }}"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                color="warn"
                (click)="delete(item.id)"
                matTooltip="{{ 'Common.Delete' | translate }}"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          <tr *ngIf="lstColor.length === 0">
            <td colspan="5">Không có bản ghi nào</td>
          </tr>
        </tbody>
        <ng-template #noData>
          <tr>
            <td colspan="5" class="text-center">Không có bản ghi nào</td>
          </tr>
        </ng-template>
      </table>
    </div> -->
    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="dataSource" class="mat-table">
        <!-- Cột Số thứ tự -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>{{ 'Common.No' | translate }}</th>
          <td mat-cell *matCellDef="let item">{{ item.position }}</td>
        </ng-container>

        <!-- Cột Tên -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>{{ 'Color.Name' | translate }}</th>
          <td mat-cell *matCellDef="let item">
            <span matTooltip="{{ item.name }}">{{ item.name }}</span>
          </td>
        </ng-container>

        <!-- Cột Mã màu (HexCode) -->
        <ng-container matColumnDef="hexCode">
          <th mat-header-cell *matHeaderCellDef>{{ 'Color.Code' | translate }}</th>
          <td mat-cell *matCellDef="let item">
            <div
              matTooltip="{{ item.HexCode }}"
              [ngStyle]="{ 'background-color': item.HexCode }"
              style="width: 30px; height: 30px; border: 1px solid #ccc"
              class="rounded-full ml-3"
            ></div>
          </td>
        </ng-container>

        <!-- Cột Hành động -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef style="width: 200px">
            {{ 'Common.Action' | translate }}
          </th>
          <td mat-cell *matCellDef="let item">
            <button
              mat-icon-button
              color="primary"
              (click)="edit(item)"
              matTooltip="{{ 'Common.Edit' | translate }}"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              (click)="delete(item.id)"
              matTooltip="{{ 'Common.Delete' | translate }}"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Header và Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Hiển thị khi không có dữ liệu -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4" style="text-align: center">
            {{ 'Common.NoData' | translate }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
<!-- /.content -->
<mat-paginator
  class="absolute inset-x-0 bottom-0 border-b border-t z-10 bg-gray-50 dark:bg-transparent md:text-base sm:text-base xs:text-xs"
  [pageSizeOptions]="pageSizeOptions"
  [length]="totalCount"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  (page)="onChangePage($event)"
  showFirstLastButtons
>
</mat-paginator>
