.table-container-result {
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 160px);
}

:host {
  box-sizing: border-box;
  width: 100%;
  margin-top: 0.5rem /* 8px */ !important;
  margin-bottom: 0.5rem /* 8px */ !important;

  .detail-table {
    // border-radius: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    overflow: auto;
    width: 100%;

    .mat-row {
      height: auto;
      min-height: 60px;

      .mat-cell {
        min-height: inherit;
      }
    }

    .mat-column-position {
      flex: 0 1 70px;
    }
    .mat-column-name {
      flex: 0 1 200px;
    }
    .mat-column-address {
      flex: 0 1 320px;
    }
    .mat-column-status {
      flex: 0 1 160px;
    }
    .mat-column-assessmentScore {
      flex: 0 1 120px;
    }
    .mat-column-actions {
      flex: 0 1 100px;
    }

    .selected {
      background-color: #e0e0e0 !important; /* Màu nền khi row được chọn */
    }
  }

  .mat-mdc-paginator {
    ::ng-deep {
      .mat-mdc-paginator-container {
        justify-content: flex-end;
        padding-right: 60px;
      }
    }
  }
}
