<!-- Main content -->
<section class="content mt-3">
  <!-- Default box -->
  <div class="card">
    <div class="flex justify-end">
      <div class="flex flex-col sm:flex-row sm:items-center sm:px-6 xs:py-4 w-full">
        <div class="flex flex-wrap justify-end gap-2 flex-grow items-center">
          <div class="filter-bar">
            <button [class.active]="isOutOfStock" (click)="outOfStock()">
              Sản phẩm sắp hết hàng
            </button>
          </div>
          <app-AraAutocomplete
            [placeholder]="'ProductVariant.SearchSize' | translate"
            [displayField]="['name']"
            [items]="lstSize"
            [valueField]="'id'"
            [isUseForm]="false"
            [isFirstLoad]="false"
            (onChange)="handleChangeSize($event)"
          >
          </app-AraAutocomplete>
          <app-AraAutocomplete
            [placeholder]="'ProductVariant.SearchColor' | translate"
            [displayField]="['name']"
            [items]="lstColor"
            [valueField]="'id'"
            [isUseForm]="false"
            [isFirstLoad]="false"
            (onChange)="handleChangeColor($event)"
          >
          </app-AraAutocomplete>

          <div class="search-container">
            <input
              type="text"
              class="search-input"
              placeholder="{{ 'ProductVariant.SearchTitle' | translate }}"
              [(ngModel)]="searchString"
              (keydown.enter)="handleChangeSearchInput($event)"
            />
            <div class="search-actions">
              <button
                class="search-button"
                (click)="handleChangeSearchInput($event)"
                aria-label="Search"
              >
                🔍
              </button>
              <button
                class="clear-button"
                *ngIf="searchString"
                (click)="handleClearSearchInput()"
                aria-label="Clear search"
              >
                ✖
              </button>
            </div>
          </div>

          <button
            mat-flat-button
            [color]="'primary'"
            class="add-product-button mat-white-bg md:text-base sm:text-base xs:text-xs ml-2"
            (click)="add()"
          >
            <mat-icon class="md:text-base sm:text-base xs:text-xs">add</mat-icon>
            <span>{{ 'Common.Add' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ 'Common.No' | translate }}</th>
            <th>{{ 'ProductVariant.ProductName' | translate }}</th>
            <th>{{ 'ProductVariant.ProductCode' | translate }}</th>
            <th>{{ 'ProductVariant.ColorName' | translate }}</th>
            <th>{{ 'ProductVariant.SizeName' | translate }}</th>
            <th>{{ 'ProductVariant.Quantity' | translate }}</th>
            <th style="width: 200px">{{ 'Common.Action' | translate }}</th>
          </tr>
        </thead>
        <tbody *ngIf="lstVariant.length > 0; else noData">
          <tr *ngFor="let item of lstVariant; let i = index">
            <td>{{ item.position }}</td>
            <td class="truncate-text">
              <span matTooltip="{{ item.productTitle }}">{{ item.productTitle }}</span>
            </td>
            <td>
              <span matTooltip="{{ item.productCode }}">{{ item.productCode }}</span>
            </td>
            <td>
              <span matTooltip="{{ item.colorName }}">{{ item.colorName }}</span>
            </td>
            <td>
              <span matTooltip="{{ item.sizeName }}">{{ item.sizeName }}</span>
            </td>
            <td>
              <span matTooltip="{{ item.quantity }}">{{ item.quantity }}</span>
            </td>
            <td>
              <button
                mat-icon-button
                (click)="addStock(item.id)"
                matTooltip="{{ 'Inventory.AddTitle' | translate }}"
              >
                <mat-icon>add</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="delete(item.id)"
                matTooltip="{{ 'Common.Delete' | translate }}"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
        <!-- Hiển thị khi không có dữ liệu -->
        <ng-template #noData>
          <tr>
            <td colspan="5" class="text-center">{{ 'Common.NoData' | translate }}</td>
          </tr>
        </ng-template>
      </table>
    </div>
  </div>
</section>
<!-- /.content -->
<mat-paginator
  class="absolute inset-x-0 bottom-0 border-b border-t z-10 bg-gray-50 dark:bg-transparent md:text-base sm:text-base xs:text-xs"
  [pageSizeOptions]="pageSizeOptions"
  [length]="totalCount"
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  (page)="onChangePage($event)"
  showFirstLastButtons
>
</mat-paginator>
