::ng-deep .custom-dialog-right .mat-mdc-dialog-surface {
  margin: 0;
  height: 100%;
  border-radius: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.table-container-result {
  display: flex;
  flex-flow: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 160px);
}
::ng-deep .custom-search-field {
  background-color: #fbeaec; /* màu nền */
  border-radius: 8px;
  padding: 8px;
}

::ng-deep .custom-search-field .mat-form-field-wrapper {
  padding-bottom: 0 !important; /* bỏ khoảng trắng dư bên dưới */
}

::ng-deep .custom-search-field .mat-form-field-flex {
  background-color: transparent; /* tránh đè màu */
}

::ng-deep .custom-search-field .mat-form-field-infix {
  border-bottom: none !important; /* bỏ gạch chân nếu cần */
}

::ng-deep .custom-search-field input {
  font-size: 14px;
  padding: 6px 8px;
}
.truncate-text {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  width: 100%;
  width: 500px;
  background: #fff;
  border-radius: 30px;
  margin-right: 16px;
  padding: 8px 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0;
  transition: border-color 0.2s ease-in-out;
}

.search-container:focus-within {
  border-color: #3b82f6; /* Blue border on focus */
}

.search-input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px;
  font-size: 16px;
  color: #333;
  outline: none;
  margin-right: 10px;
}

.search-actions {
  display: flex;
  align-items: center;
  gap: 6px;
}

.search-button,
.clear-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #888;
  transition: color 0.2s ease;
}

.search-button:hover,
.clear-button:hover {
  color: #3b82f6; /* hover color */
}
.filter-bar button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.filter-bar button.active {
  background-color: #ff4d4d;
  color: white;
}
.filter-bar button:not(.active) {
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
}
.filter-bar button:hover:not(.active) {
  background-color: #f0f0f0;
}
