<link rel="stylesheet" type="text/css" href="/assets/Content/assets/styles/categories_styles.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="/assets/Content/assets/styles/categories_responsive.css"
/>
<div class="container product_section_container">
  <div class="row">
    <div class="col product_section clearfix">
      <!-- Breadcrumbs -->
      <div class="breadcrumbs d-flex flex-row align-items-center">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="active">
            <a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Product</a>
          </li>
        </ul>
      </div>

      <!-- Sidebar -->

      <div class="sidebar">
        <!-- Price Range Filtering -->
        <div class="sidebar_section">
          <div class="sidebar_title">
            <h5>Filter by Price</h5>
          </div>

          <div class="input-range-container">
            <div class="input-group">
              <input type="text" placeholder="TỪ" class="text-sm" [(ngModel)]="price_min" />
            </div>
            <span class="dash">–</span>
            <div class="input-group">
              <input type="text" placeholder="ĐẾN" class="text-sm" [(ngModel)]="price_max" />
            </div>
          </div>
          <div class="filter_button" (click)="onFilterByPrice()">
            <span>Filter</span>
          </div>
          <hr />
        </div>

        <!-- Sizes -->
        <div class="sidebar_section">
          <div class="sidebar_title">
            <h5>Sizes</h5>
          </div>
          <ul class="checkboxes">
            <li *ngFor="let size of sizes" (click)="toggleSize(size)">
              <i
                class="fa"
                [class.fa-square]="selectedSizes.includes(size)"
                [class.fa-square-o]="!selectedSizes.includes(size)"
                aria-hidden="true"
              ></i>
              <span>{{ size }}</span>
            </li>
          </ul>
        </div>

        <!-- Colors -->
        <div class="sidebar_section">
          <div class="sidebar_title">
            <h5>Colors</h5>
          </div>
          <ul class="checkboxes">
            <li *ngFor="let color of colors" (click)="toggleColor(color)">
              <i
                class="fa"
                [class.fa-square]="selectedColors.includes(color)"
                [class.fa-square-o]="!selectedColors.includes(color)"
                aria-hidden="true"
              ></i>
              <span>{{ color }}</span>
            </li>
          </ul>
        </div>
      </div>

      <!-- Main Content -->

      <div class="main_content">
        <!-- Products -->

        <div class="products_iso">
          <div class="row">
            <div class="col">
              <!-- Product Sorting -->

              <div class="product_sorting_container product_sorting_container_top">
                <div class="filter-bar">
                  <label>Sắp xếp theo</label>
                  <button [class.active]="activeSort === 'newest'" (click)="changeSort('newest')">
                    Mới Nhất
                  </button>

                  <button
                    [class.active]="activeSort === 'bestseller'"
                    (click)="changeSort('bestseller')"
                  >
                    Bán Chạy
                  </button>

                  <select [value]="priceSort" (change)="changeSort($event)">
                    <option value="">Giá</option>
                    <option value="price|asc">Giá: Thấp đến Cao</option>
                    <option value="price|desc">Giá: Cao đến Thấp</option>
                  </select>
                </div>
              </div>

              <!-- Product Grid -->
              <div class="product-grid d-flex flex-wrap">
                <div *ngFor="let item of lstProduct" class="product-item">
                  <div class="product discount product_filter">
                    <div class="product_image">
                      <img [src]="item.imageDefault" height="200" [alt]="item.title" />
                    </div>

                    <div
                      *ngIf="item.salePercent > 0"
                      class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"
                    >
                      <span>-{{ item.salePercent }}%</span>
                    </div>

                    <div class="product_info">
                      <h6 class="product_name short-line">
                        <a [routerLink]="['/product', item.id]">{{ item.title }}</a>
                      </h6>

                      <ng-container *ngIf="item.salePercent > 0; else noSale">
                        <div class="product_price">
                          {{ item.priceSale | number: '1.0-0' }} VND
                          <span>{{ item.price | number: '1.0-0' }} VND</span>
                        </div>
                        <div style="display: none" class="in_product_price">
                          {{ item.priceSale | number: '1.0-0' }} VND
                        </div>
                      </ng-container>
                      <ng-template #noSale>
                        <div class="product_price">{{ item.price | number: '1.0-0' }} VND</div>
                        <div style="display: none" class="in_product_price">
                          {{ item.price | number: '1.0-0' }} VND
                        </div>
                      </ng-template>
                    </div>
                  </div>
                  <div class="product-meta">
                    <span class="sold">Đã bán {{ item.totalSold }}</span>
                    <span class="stars">
                      <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                        <i
                          class="fa"
                          [ngClass]="{
                            'fa-star text-warning': star <= item.avgRate,
                            'fa-star-o text-muted': star > item.avgRate
                          }"
                          aria-hidden="true"
                        >
                        </i>
                      </ng-container>
                      ({{ item.totalRate }})
                    </span>
                  </div>
                </div>
              </div>

              <div class="row pagination-container mt-3">
                <div class="col-6"></div>
                <mat-paginator
                  class="bg-gray-50 dark:bg-transparent md:text-base sm:text-base xs:text-xs"
                  [pageSizeOptions]="pageSizeOptions"
                  [length]="totalCount"
                  [pageIndex]="pageIndex"
                  [pageSize]="pageSize"
                  (page)="onChangePage($event)"
                  showFirstLastButtons
                >
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
