<link rel="stylesheet" type="text/css" href="/assets/Content/assets/styles/categories_styles.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="/assets/Content/assets/styles/categories_responsive.css"
/>
<div class="container product_section_container">
  <div class="row">
    <div class="col product_section clearfix">
      <!-- Breadcrumbs -->
      <div class="breadcrumbs d-flex flex-row align-items-center">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="active">
            <a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Product</a>
          </li>
        </ul>
      </div>

      <!-- Sidebar -->

      <div class="sidebar">
        <div class="sidebar_section">
          <div class="sidebar_title">
            <h5>Product Category</h5>
          </div>
          <app-menuleft></app-menuleft>
        </div>

        <!-- Price Range Filtering -->
        <div class="sidebar_section">
          <div class="sidebar_title">
            <h5>Filter by Price</h5>
          </div>
          <p>
            <input
              type="text"
              id="amount"
              readonly
              style="border: 0; color: #f6931f; font-weight: bold"
            />
            <input type="hidden" id="FromAmount" />
            <input type="hidden" id="ToAmount" />
          </p>
          <div id="slider-range"></div>
          <div class="filter_button"><span>filter</span></div>
          <hr />
        </div>

        <!-- Sizes -->
        <div class="sidebar_section">
          <div class="sidebar_title">
            <h5>Sizes</h5>
          </div>
          <ul class="checkboxes">
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>S</span></li>
            <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>M</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>L</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XL</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XXL</span></li>
          </ul>
        </div>

        <!-- Color -->
        <div class="sidebar_section">
          <div class="sidebar_title">
            <h5>Color</h5>
          </div>
          <ul class="checkboxes">
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Black</span></li>
            <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>Pink</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
          </ul>
          <div class="show_more">
            <span><span>+</span>Show More</span>
          </div>
        </div>
      </div>

      <!-- Main Content -->

      <div class="main_content">
        <!-- Products -->

        <div class="products_iso">
          <div class="row">
            <div class="col">
              <!-- Product Sorting -->

              <div class="product_sorting_container product_sorting_container_top">
                <ul class="product_sorting">
                  <li>
                    <span class="type_sorting_text">Default Sorting</span>
                    <i class="fa fa-angle-down"></i>
                    <ul class="sorting_type">
                      <li
                        class="type_sorting_btn"
                        data-isotope-option='{ "sortBy": "original-order" }'
                      >
                        <span>Default Sorting</span>
                      </li>
                      <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'>
                        <span>Price</span>
                      </li>
                      <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'>
                        <span>Product Name</span>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <span>Show</span>
                    <span class="num_sorting_text">6</span>
                    <i class="fa fa-angle-down"></i>
                    <ul class="sorting_num">
                      <li class="num_sorting_btn"><span>6</span></li>
                      <li class="num_sorting_btn"><span>12</span></li>
                      <li class="num_sorting_btn"><span>24</span></li>
                    </ul>
                  </li>
                </ul>
                <div class="pages d-flex flex-row align-items-center">
                  <div class="page_current">
                    <span>1</span>
                    <ul class="page_selection">
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                    </ul>
                  </div>
                  <div class="page_total"><span>of</span> 3</div>
                  <div id="next_page" class="page_next">
                    <a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>

              <!-- Product Grid -->
              <div class="product-grid d-flex flex-wrap gap-2">
                <div *ngFor="let item of lstProduct" class="product-item">
                  <div class="product discount product_filter">
                    <div class="product_image">
                      <img [src]="item.imageDefault" height="200" [alt]="item.title" />
                    </div>

                    <div
                      *ngIf="item.salePercent > 0"
                      class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"
                    >
                      <span>-{{ item.salePercent }}%</span>
                    </div>

                    <div class="product_info">
                      <h6 class="product_name short-line">
                        <a>{{ item.title }}</a>
                      </h6>

                      <ng-container *ngIf="item.salePercent > 0; else noSale">
                        <div class="product_price">
                          {{ item.priceSale | number: '1.0-0' }} VND
                          <span>{{ item.price | number: '1.0-0' }} VND</span>
                        </div>
                        <div style="display: none" class="in_product_price">
                          {{ item.priceSale | number: '1.0-0' }} VND
                        </div>
                      </ng-container>
                      <ng-template #noSale>
                        <div class="product_price">{{ item.price | number: '1.0-0' }} VND</div>
                        <div style="display: none" class="in_product_price">
                          {{ item.price | number: '1.0-0' }} VND
                        </div>
                      </ng-template>
                    </div>
                  </div>
                  <div class="product-meta">
                    <span class="sold">Đã bán 2000</span>
                    <span class="stars">
                      <ng-container *ngFor="let star of getStarArray(4.5)">
                        <i class="fa fa-star text-warning"></i>
                      </ng-container>
                      (1000)
                    </span>
                  </div>
                </div>
              </div>

              <div class="row pagination-container">
                <div class="col-6"></div>
                <mat-paginator
                  class="z-10 bg-gray-50 dark:bg-transparent md:text-base sm:text-base xs:text-xs"
                  [pageSizeOptions]="pageSizeOptions"
                  [length]="totalCount"
                  [pageIndex]="pageIndex"
                  [pageSize]="pageSize"
                  (page)="onChangePage($event)"
                  showFirstLastButtons
                >
                </mat-paginator>

                <!-- <div class="col-6 pagination-controls">
                                  @if (Model.HasPreviousPage)
                                  {
                                      <a href="?page=@(Model.PageNumber - 1)&pageSize=@Model.PageSize" class="page-link">Previous</a>
                                  }

                                  <span class="page-info">Page @Model.PageNumber of @Model.PageCount</span>

                                  @if (Model.HasNextPage)
                                  {
                                      <a href="?page=@(Model.PageNumber + 1)&pageSize=@Model.PageSize" class="page-link">Next</a>
                                  }
                              </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
