<form class="checkout-form" [formGroup]="checkoutForm">
  <h4>Thông tin đặt hàng</h4>

  <div class="row mb-3">
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Họ và tên"
        formControlName="username"
        name="fullName"
      />
    </div>
    <div class="col-md-6">
      <input
        type="text"
        class="form-control"
        placeholder="Số điện thoại"
        formControlName="phonenumber"
        name="phone"
      />
    </div>
  </div>

  <div class="mb-3">
    <input
      type="email"
      class="form-control"
      placeholder="Email"
      formControlName="email"
      name="email"
    />
  </div>

  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Địa chỉ"
      formControlName="address"
      name="address"
    />
  </div>

  <div class="row mb-3">
    <div class="col-md-4">
      <select
        id="province"
        formControlName="province"
        (change)="onProvinceChange()"
        class="form-control"
      >
        <option value="">--Province--</option>
        <option *ngFor="let province of provinces" [value]="province.code">
          {{ province.name }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <select
        id="district"
        formControlName="district"
        (change)="onDistrictChange()"
        [disabled]="!districts.length"
        class="form-control"
      >
        <option value="">--District--</option>
        <option *ngFor="let district of districts" [value]="district.code">
          {{ district.name }}
        </option>
      </select>
    </div>
    <div class="col-md-4">
      <select id="ward" formControlName="ward" [disabled]="!wards.length" class="form-control">
        <option value="">--Ward--</option>
        <option *ngFor="let ward of wards" [value]="ward.code">{{ ward.name }}</option>
      </select>
    </div>
  </div>

  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Ghi chú thêm (Ví dụ: Giao hàng giờ hành chính)"
      formControlName="note"
      name="note"
    />
  </div>

  <!-- <div class="form-check mb-2">
    <input type="checkbox" class="form-check-input" [(ngModel)]="callReceiver" name="callReceiver" />
    <label class="form-check-label">Gọi cho người nhận hàng (nếu có)</label>
  </div>

  <div class="form-check mb-4">
    <input type="checkbox" class="form-check-input" [(ngModel)]="saveAddress" name="saveAddress" />
    <label class="form-check-label">Lưu vào sổ địa chỉ để dùng cho lần mua hàng tiếp theo</label>
  </div> -->

  <hr />
  <h4>Hình thức thanh toán</h4>

  <div class="payment-methods">
    <div class="form-check mt-3">
      <input
        class="form-check-input"
        type="radio"
        name="payment"
        [(ngModel)]="paymentMethod"
        value="cod"
        checked
      />
      <label class="form-check-label">Thanh toán khi nhận hàng</label>
    </div>
    <div class="form-check mt-3">
      <input
        class="form-check-input"
        type="radio"
        name="payment"
        [(ngModel)]="paymentMethod"
        value="momo"
      />
      <label class="form-check-label">
        <img
          src="https://upload.wikimedia.org/wikipedia/vi/f/fe/MoMo_Logo.png"
          width="25"
          class="me-2"
        />
        Ví MoMo
      </label>
    </div>
    <div class="form-check mt-3">
      <input
        class="form-check-input"
        type="radio"
        name="payment"
        [(ngModel)]="paymentMethod"
        value="vnpay"
      />
      <label class="form-check-label d-flex align-items-center">
        <a class="mr-3" href="https://cdnlogo.com/logo/vnpay_135086.html"
          ><img src="https://static.cdnlogo.com/logos/v/99/vnpay.svg"
        /></a>
        <div>
          <strong>Ví điện tử VNPAY</strong><br />
          <small class="text-muted">Quét QR để thanh toán</small>
        </div>
      </label>
    </div>
  </div>
  <button class="btn btn-success mt-3" (click)="checkOut()">Đặt hàng</button>
</form>
