.cart-container {
  padding: 10px;
  margin: auto;
  background-color: #f8f9fa;
}

.cart-title {
  font-weight: 400;
  margin-bottom: 1rem;
}

.cart-header {
  font-size: 14px;
  color: #6c757d;
}

.product-img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 14px;
}

.product-info {
  min-width: 0;
}

select.form-select {
  font-size: 14px;
}
