<div class="dialog-content-wrapper mt-[50px]">
  <!-- Header -->
  <div class="flex flex-row items-center px-6 h-20 min-h-20 text-white bg-primary">
    <mat-icon class="icon-size-7 text-current" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
    <div class="ml-3 text-2xl font-semibold tracking-tight">
      {{ data.title | translate }}
    </div>
    <button class="ml-auto" mat-icon-button (click)="dialogRef.close()">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>
  <div class="wrap-body mt-[50px]">
    <form [formGroup]="form">
      <!-- Product Selector -->
      <mat-form-field class="w-100">
        <mat-label>{{ 'ProductVariant.ProductName' | translate }}</mat-label>
        <mat-select formControlName="productId">
          <mat-option *ngFor="let product of lstProduct" [value]="product.id">
            {{ product.name }} ({{ product.code }})
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Size Selector (multi select) -->
      <mat-form-field class="w-100">
        <mat-label>{{ 'ProductVariant.SizeName' | translate }}</mat-label>
        <mat-select formControlName="sizeId" multiple>
          <mat-option *ngFor="let size of lstSize" [value]="size.id">
            {{ size.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Color Selector (multi select) -->
      <mat-form-field class="w-100">
        <mat-label>{{ 'ProductVariant.ColorName' | translate }}</mat-label>
        <mat-select formControlName="colorId" multiple>
          <mat-option *ngFor="let color of lstColor" [value]="color.id">
            {{ color.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="w-full">
        <input matInput type="number" formControlName="quantity" min="1" />
      </mat-form-field>
    </form>
  </div>

  <div class="border-t"></div>
  <!-- Actions -->
  <div mat-dialog-actions class="pl-5 pr-5 flex items-center justify-center">
    <button mat-dialog-close mat-stroked-button type="button">
      {{ 'Common.Cancel' | translate }}
    </button>
    <button
      (click)="save()"
      [disabled]="!form.valid"
      class="ml-4"
      mat-flat-button
      type="button"
      [color]="'primary'"
    >
      {{ 'Common.Save' | translate }}
    </button>
  </div>
</div>
