<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="/assets/Client/styles/bootstrap4/bootstrap.min.css"
  />
  <link
    href="/assets/Client/plugins/font-awesome-4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    type="text/css"
  />
</head>
<div class="super_container">
  <!-- Header -->
  <header class="header trans_300">
    <app-navbar></app-navbar>
  </header>

  <div class="fs_menu_overlay"></div>

  <!-- RENDER BODY -->
  <router-outlet></router-outlet>

  <!-- <app-partialsub></app-partialsub> -->

  <!-- Footer -->
  <app-footer></app-footer>
</div>
